<a href="https://colab.research.google.com/github/muthe26/BITE-353-SYLVIA_-MUTHEU/blob/main/BITE_353_%5BPractice_Notebook%5D_AfterWork_Introduction_to_Python_Programming_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Practice Notebook] AfterWork: Introduction to Python Programming Course

## 1. Introduction to Python Syntax

### Example 1: Variables and Data types

Variables in Python are used to store data values. Data types specify the type of data that a variable can hold, such as integers, strings, or lists. Understanding variables and data types is crucial in programming as it allows us to manipulate and work with different types of data efficiently.

In [65]:
# Creating variables of different data types
number = 10
decimal = 3.14
text = "Hello, World!"
is_true = True
my_list = [1, 2, 3, 4, 5]

**Explanation**: We create variables of different data types: an integer, a string, a boolean, and a list. We then print out each variable to display their values. The output will be: 10 John True [85, 90, 88]

#### <font color="green">Challenge</font>

Create a variable called 'total_sales' and assign it the value of 5000. Then, create a variable called 'store_name' and assign it the value 'Best Deals'.

In [66]:
# Write your code here
total_sales=5000

### Example 2: Print Statements

Print statements in Python allow us to display output to the console. This is useful for debugging, providing feedback to the user, and monitoring the progress of our code execution.

In [ ]:
# Printing out the variables
print(number)
print(decimal)
print(text)
print(is_true)
print(my_list)

10
3.14
Hello, World!
True
[1, 2, 3, 4, 5]

Explanation: We print out each variable we had created to display their values.

#### <font color="green">Challenge</font>

Create a simple Python program that prints out the message 'Welcome to our store!' when executed.

In [67]:
# Print statement to display welcome message
# Write your code here
print('Welcome to our store!')

Welcome to our store!

### Example 3: f-Strings

F strings in Python allow us to easily format strings by embedding expressions inside curly braces {}. This makes it easier to insert variables and expressions into strings without having to use concatenation or string formatting methods like % or .format().

In [ ]:
# Using F Strings to create a personalized message
name = "Alice"
age = 89

message = f"Hello {name}, you are {age} years old."
print(message)

Hello Alice, you are 89 years old.

**Explanation**: We assign the variables "name" and "age" with the values "Alice" and 30 respectively. We then use an f string to create a personalized message by inserting these variables into the string. When we print out the message, it outputs "Hello Alice, you are 30 years old.

#### <font color="green">Challenge</font>

Create a personalized message using F Strings with the following variables: name = 'Bob', age = 25, city = 'New York'

In [68]:
# Using F Strings to create a personalized message
# Write your code here
name = "Kevin"
adj = "fun"

message = f"Understanding cloud concepts through {name} is {adj}"
print(message)

Understanding cloud concepts through Kevin is fun

## 2. Arithmetic Operators

### Example 1: Addition and Substraction

Arithmetic operators in Python are symbols used to perform mathematical operations. The addition operator (+) is used to add two or more numbers together, while the subtraction operator (-) is used to subtract one number from another. These operators are essential for performing basic arithmetic calculations in Python.

In [69]:
# Addition
num1 = 10
num2 = 5
result_addition = num1 + num2
print("Addition result:", result_addition)

Addition result: 15

In [70]:
# Subtraction
num3 = 10
num4 = 5
result_subtraction = num3 - num4
print("Subtraction result:", result_subtraction)

Subtraction result: 5

**Explanation**: We perform addition and subtraction operations on two sets of numbers. We assign values to variables num1, num2, num3, and num4. We then use the addition operator (+) to add num1 and num2, and the subtraction operator (-) to subtract num4 from num3. The results are stored in result_addition and result_subtraction variables respectively. We print out the results of the addition and subtraction operations. The output will be: Addition result: 15 Subtraction result: 5

#### <font color="green">Challenge</font>

A customer purchased 3 items from the store and wants to know the total cost. The prices of the items are $10, $15, and $20. Calculate the total cost by adding the prices of the items together.

In [71]:
# Item prices
item1 = 10
item2 = 15
item3 = 20

# Calculate total cost
# Write your code here
result_addition = item1 + item2 + item3
print("Addition result:", result_addition)
# Display total cost
# Write your code here

Addition result: 45

### Example 2: Multiplication and Division

Using variables in multiplication and division operations allows us to store and manipulate numerical values efficiently. We can assign values to variables and then perform multiplication and division operations on these variables.

In [ ]:
# Define variables
num1 = 10
num2 = 5

# Perform multiplication operation using variables
result_mult = num1 * num2
print("Multiplication result:", result_mult)

Multiplication result: 50

In [ ]:
# Perform division operation using variables
result_div = num1 / num2
print("Division result:", result_div)

Division result: 2.0

**Explanation**: We define variables num1 and num2 with values 10 and 5 respectively. We then perform multiplication operation using these variables and store the result in result_mult. We print out the multiplication result which is 50. Next, we perform division operation using the variables num1 and num2 and store the result in result_div. We print out the division result which is 2.0.

#### <font color="green">Challenge</font>

A store sells two types of products: Product A and Product B. The price of Product A is `$10` and the price of Product B is `$5`. Calculate the total cost of purchasing 3 units of Product A and 2 units of Product B using variables and multiplication operations. Multiply the prices by the respective quantities of each product to calculate the total cost for each product. Add the total costs together to get the final total cost.

In [ ]:
# Define variables
price_product_a = 10
price_product_b = 5

# Calculate total cost
# Write your code here
result_mult = price_product_a * price_product_b
print("Multiplication result:", result_mult)

Multiplication result: 50

### Example 3: Modulus and Exponents (Optional)

Modulus and exponents are arithmetic operators in Python that allow us to perform specific mathematical operations on numbers. The modulus operator (%) returns the remainder of a division operation, while the exponent operator (**) raises a number to a power.

In [72]:
# Modulus operator example
num1 = 10
num2 = 3
result_modulus = num1 % num2
print(result_modulus)

1

In [73]:
# Exponent operator example
base = 2
exponent = 3
result_exponent = base ** exponent
print(result_exponent)

8

**Explanation**: We assign the integer values 10 and 3 to variables num1 and num2 respectively. We then use the modulus operator (%) to find the remainder when num1 is divided by num2, storing the result in the variable result_modulus. When we print out result_modulus, the output is 1. We assign the integer values 2 and 3 to variables base and exponent respectively. We then use the exponent operator (**) to raise base to the power of exponent, storing the result in the variable result_exponent. When we print out result_exponent, the output is 8.

#### <font color="green">Challenge</font>

Calculate the remainder when 25 is divided by 7 using the modulus operator. Then, raise 5 to the power of 3 using the exponent operator.

In [ ]:
# Calculate the remainder when 25 is divided by 7 using the modulus operator
num1 = 25
num2 = 7
# Write your code here
result_modulus = num1 % num2
print(result_modulus)

# Raise 5 to the power of 3 using the exponent operator
base = 5
exponent = 3
# Write your code here
result_exponent = base ** exponent
print(result_exponent)

4
125

## 3. Data Types

### Example 1: Data Type Conversion

Data type conversion in Python allows us to change the type of a variable from one data type to another. This is important because different data types have different properties and behaviors, and sometimes we need to convert a variable to a different data type in order to perform certain operations or comparisons. We can convert a variable from one data type to another using built-in functions like int(), float(), str(), etc. For example, if we have a variable x that is a string containing a number, we can convert it to an integer using the int() function. This allows us to perform mathematical operations on the variable as if it were a number.

In [74]:
# Convert a string to an integer
x = "10"
x_int = int(x)
print(x_int)

10

In [75]:
# Convert an integer to a float
y = 5
y_float = float(y)
print(y_float)

5.0

In [76]:
# Convert a float to a string
z = 3.14
z_str = str(z)
print(z_str)

3.14

**Explanation**: We convert a string "10" to an integer using the int() function and store it in a variable x_int. When we print x_int, the output is 10. We convert an integer 5 to a float using the float() function and store it in a variable y_float. When we print y_float, the output is 5.0. We convert a float 3.14 to a string using the str() function and store it in a variable z_str. When we print z_str, the output is "3.14".

#### <font color="green">Challenge</font>

Convert the string '15' to an integer and then convert the integer to a float.

In [77]:
# Convert the string '15' to an integer
# Write your code here
x = 15
x_int = int(x)
print(x_int)

# Convert the integer to a float
# Write your code here
y = 15
y_float = float(y)
print(y_float)

15
15.0

### Example 2: Lists

Working with lists in Python allows us to store multiple items in a single variable. Lists are mutable, meaning we can change, add, and remove elements from them. They are ordered and allow for duplicate elements. Lists are versatile and commonly used in Python for storing and manipulating data.

In [23]:
# Creating a list of fruits
fruits = ["apple", "banana", "orange", "grape"]

# Printing the list
print(fruits)

['apple', 'banana', 'orange', 'grape']

In [24]:
# Adding a new fruit to the list
fruits.append("kiwi")

# Printing the updated list
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [25]:
# Removing a fruit from the list
fruits.remove("orange")

# Printing the updated list
print(fruits)

['apple', 'banana', 'grape', 'kiwi']

**Explanation**: We create a list of fruits and store it in the variable "fruits". We then print out the list of fruits. Next, we add a new fruit "kiwi" to the list using the append() method. We print out the updated list of fruits. We remove the fruit "orange" from the list using the remove() method. Finally, we print out the list of fruits after removing "orange".

#### <font color="green">Challenge</font>

Create a list of colors including 'red', 'blue', 'green', and 'yellow'. Add 'purple' to the list and print the updated list. Then, remove 'green' from the list and print the final list.

In [79]:
# Creating a list of colors
# Write your code here
colors = ["red", "blue", "green", "yellow"]

# Adding 'purple' to the list
# Write your code here
colors.append("purple")

# Printing the updated list
# Write your code here
print(colors)

# Removing 'green' from the list
# Write your code here
colors.remove("green")

# Printing the final list
# Write your code here
print(colors)

['red', 'blue', 'green', 'yellow', 'purple']
['red', 'blue', 'yellow', 'purple']

### Example 3: Dictionaries

Dictionaries in Python are a collection of key-value pairs. Each key is connected to a value, similar to how words are connected to their definitions in a real dictionary. We can use dictionaries when we have a set of data that needs to be stored in a structured way, such as storing information about a person (name, age, address) or keeping track of inventory (product name, quantity, price).

In [27]:
# Creating a dictionary to store information about a person
person = {
    "name": "John Doe",
    "age": 30,
    "address": "123 Main Street"
}

# Printing the dictionary
print(person)

{'name': 'John Doe', 'age': 30, 'address': '123 Main Street'}

In [28]:
# Accessing and printing the person's name
print(person["name"])
print(person)

John Doe
{'name': 'John Doe', 'age': 30, 'address': '123 Main Street'}

In [29]:
# Updating the person's age
person["age"] = 31
print(person)

{'name': 'John Doe', 'age': 31, 'address': '123 Main Street'}

In [30]:
# Adding a new key-value pair for the person's phone number
person["phone"] = "555-555-5555"
print(person)

{'name': 'John Doe', 'age': 31, 'address': '123 Main Street', 'phone': '555-555-5555'}

In [31]:
# Removing the address key-value pair
del person["address"]
print(person)

{'name': 'John Doe', 'age': 31, 'phone': '555-555-5555'}

**Explanation**: We create a dictionary to store information about a person. We access and print the person's name. We update the person's age. We add a new key-value pair for the person's phone number. We remove the address key-value pair. We print the updated dictionary. The output will be: ``` {'name': 'John Doe', 'age': 31, 'phone': '555-555-5555'} ```

#### <font color="green">Challenge</font>

Create a dictionary to store information about a product, including its name, price, and quantity. Access and print the product's name. Update the product's price. Add a new key-value pair for the product's category. Remove the quantity key-value pair.

In [83]:
# Creating a dictionary to store information about a product
# Write your code here
product = {
    "name": "felo",
    "price": 500000,
    "quantity": "3000kgs"
}

# Accessing and printing the product's name
# Write your code here
print(product["name"])
print(product)
# Updating the product's price
# Write your code here
print(product["price"])
print(product)
# Adding a new key-value pair for the product's category
# Write your code here
product["felo"] = "accessory"
print(product)
# Removing the quantity key-value pair
# Write your code here
del product["quantity"]
print(product)

felo
{'name': 'felo', 'price': 500000, 'quantity': '3000kgs'}
500000
{'name': 'felo', 'price': 500000, 'quantity': '3000kgs'}
{'name': 'felo', 'price': 500000, 'quantity': '3000kgs', 'felo': 'accessory'}
{'name': 'felo', 'price': 500000, 'felo': 'accessory'}

### Example 4: Tuples

Tuples in Python are immutable sequences of elements. This means that once a tuple is created, its elements cannot be changed. Tuples are defined by enclosing elements in parentheses and separating them with commas. Tuples are commonly used to store related pieces of data that should not be changed, such as coordinates or database records.

In [ ]:
store_items = ("apple", "banana", "orange", "grape")
print(store_items)

('apple', 'banana', 'orange', 'grape')

In [ ]:
# Accessing elements in a tuple
print(store_items[0])
print(store_items[1])
print(store_items)

apple
banana
('apple', 'banana', 'orange', 'grape')

In [22]:
# Updating elements
# Tuples are immutable, so direct item assignment is not supported.
# To modify, convert to a list, make changes, then convert back to a tuple if desired.

# Convert the tuple to a list
store_items_list = list(store_items)

# Modify the list
store_items_list[0] = "kiwi"

# Convert back to a tuple (optional, if immutability is still desired)
store_items = tuple(store_items_list)

print(store_items)

('kiwi', 'banana', 'orange', 'grape')

**Explanation**: We define a tuple called store_items with elements "apple", "banana", "orange", and "grape". We then print out the tuple. We access and print the first element of the tuple (index 0) which is "apple", and then the second element (index 1) which is "banana". We loop through each item in the tuple and print them out individually. We check if "apple" is in the tuple store_items. If it is, we print "Apple is in the store items", otherwise we print "Apple is not in the store items".

#### <font color="green">Challenge</font>

Create a tuple named 'coordinates' with the values (3, 4, 5, 6). Display the tuple and access the first and second elements.

In [33]:
# Create a tuple named 'coordinates'
# Write your code here
coordinates = (3, 4, 5, 6)

# Display the tuple
# Write your code here
display(coordinates)

# Accessing elements in the tuple
# Write your code here
print(coordinates[0])
print(coordinates[1])

(3, 4, 5, 6)

3
4

## 4. Conditional If Statements

### Example 1: If Statement

If statements in Python allow us to make decisions in our code based on certain conditions. This concept is important because it helps us control the flow of our program and execute different blocks of code depending on whether a condition is true or false.

In [34]:
number = 15

if number > 10:
    print("The number is greater than 10")

The number is greater than 10

**Explanation**: We assign the integer value 15 to a variable called number. We check if the value stored in number is greater than 10 using an if statement. If the condition is true, we print the message "The number is greater than 10".

#### <font color="green">Challenge</font>

Create a program that checks if a customer is eligible for a discount based on their total purchase amount. Set a variable 'total_purchase' to a specific amount. Use an if statement to check if the total purchase is greater than or equal to a certain threshold (e.g. `$50`). If the condition is met, print 'Customer is eligible for a discount'. Otherwise, print 'Customer is not eligible for a discount'.

In [37]:
# Write your code here
total_purchase = 75  # You can change this value to test different scenarios
discount_threshold = 50

if total_purchase >= discount_threshold:
    print('Customer is eligible for a discount')
else:
    print('Customer is not eligible for a discount')

Customer is eligible for a discount

### Example 2: If-Else Statements

If-Else statements in Python allow us to execute different blocks of code based on whether a certain condition is true or false. This allows us to create more complex decision-making processes in our programs.

In [38]:
# Store example using If-Else Statements
item_price = 50
wallet_balance = 30

if wallet_balance >= item_price:
    print("You can buy the item!")
else:
    print("You do not have enough money to buy the item.")

You do not have enough money to buy the item.

**Explanation**: We define two variables, item_price and wallet_balance, with values 50 and 30 respectively. We then use an if-else statement to check if the wallet_balance is greater than or equal to the item_price. If it is, we print "You can buy the item!", otherwise we print "You do not have enough money to buy the item." The output will be "You do not have enough money to buy the item." since the wallet_balance is less than the item_price.

#### <font color="green">Challenge</font>

Create a program that checks if a customer is eligible for a discount based on their total purchase amount. If the total purchase amount is greater than `$100`, the customer is eligible for a `10%` discount. Otherwise, they are not eligible for any discount.

In [40]:
# Defining the total purchase amount
total_purchase_amount = 120

# Creating the if statement
# Write your code here
if total_purchase_amount > 100:
    print("Customer is eligible for a 10% discount")

Customer is eligible for a 10% discount

### Example 3: Chained If Statements (Optional)

Chained if statements in Python allow us to check multiple conditions in a single block of code. This is useful when we have multiple conditions that need to be evaluated in a specific order.

In [41]:
# Define a variable
x = 10

# Check multiple conditions using chained if statements
if x < 0:
    print("x is negative")
elif x == 0:
    print("x is zero")
elif x > 0:
    print("x is positive")

x is positive

**Explanation**: We define a variable x with a value of 10. We then use chained if statements to check multiple conditions based on the value of x. If x is less than 0, we print "x is negative". If x is equal to 0, we print "x is zero". If x is greater than 0, we print "x is positive". In this case, since x is positive (greater than 0), the output will be "x is positive".

#### <font color="green">Challenge</font>

Create a program that determines the discount percentage based on the total purchase amount in a store. Start by defining a variable for the total purchase amount. Then use chained if statements to check different conditions for discount percentages based on the total purchase amount. Make sure to consider different ranges of purchase amounts and apply the appropriate discount percentage.

In [43]:
# Define total purchase amount
total_purchase_amount = 100

# Determine discount percentage based on total purchase amount
# Write your code here
discount_percentage = 0
if total_purchase_amount >= 200:
    discount_percentage = 20
elif total_purchase_amount > 100:
    discount_percentage = 10
else:
    discount_percentage = 0

# Display the discount percentage
# Write your code here
print(f"Discount percentage: {discount_percentage}%")

Discount percentage: 0%

## 5. For Loops

### Example 1: For Loop Basics

For loops in Python allow us to iterate over a sequence of elements, such as a list or a range of numbers. This concept is important because it helps us automate repetitive tasks and perform operations on each element in a sequence.

In [44]:
# Define a list of items in a store
store_items = ['apple', 'banana', 'orange', 'grapes']

# Print the list
print(store_items)

['apple', 'banana', 'orange', 'grapes']

In [45]:
# Iterate over each item in the store_items list
for item in store_items:
    print(f"Item: {item}")

Item: apple
Item: banana
Item: orange
Item: grapes

**Explanation**: We define a list of items in a store called store_items. We then iterate over each item in the store_items list using a for loop. During each iteration, we print out the item. The output will be: Item: apple Item: banana Item: orange Item: grapes

#### <font color="green">Challenge</font>

Calculate the total cost of purchasing all items in the store, where each item costs `$2.50`. Create a variable to store the total cost, then use a for loop to iterate over each item in the `store_items` list and add `$2.50` to the total cost for each item.

In [47]:
# Define a list of items in a store
store_items = ['apple', 'banana', 'orange', 'grapes']

# Initialize total cost
total_cost = 0

# Iterate over each item in the store_items list
# Write your code here
for item in store_items:
    total_cost += 2.50

# Print the total cost
# Write your code here
print("Total cost:", total_cost)

Total cost: 10.0

### Example 2: For Loop with Break Statement

A for loop with a break statement in Python allows us to prematurely exit the loop based on a certain condition. This can be useful when we want to stop the loop from continuing once a specific condition is met, saving time and resources.

In [48]:
store_items = ["apple", "banana", "orange", "grapes", "watermelon"]

# Loop through each item in the store_items list
for item in store_items:
    print("Checking item:", item)

    # If the item is "grapes", break out of the loop
    if item == "grapes":
        print("Found grapes! Exiting loop.")
        break

Checking item: apple
Checking item: banana
Checking item: orange
Checking item: grapes
Found grapes! Exiting loop.

**Explanation**: We iterate through each item in the store_items list. If the current item is "grapes", we print a message indicating that we found grapes and exit the loop using the break statement.

#### <font color="green">Challenge</font>

Create a program that iterates through a list of numbers from 1 to 10. Print each number as you iterate through the list. However, if the number is greater than 5, break out of the loop.

In [51]:
# Create a program that iterates through a list of numbers from 1 to 10
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Loop through each number in the list
for num in numbers:
    print("Current number:", num)

    # If the number is greater than 5, break out of the loop
    # Write your code here
    if num > 5:
        print("Number greater than 5 found! Exiting loop.")
        break

Current number: 1
Current number: 2
Current number: 3
Current number: 4
Current number: 5
Current number: 6
Number greater than 5 found! Exiting loop.

### Example 3: For Loop with Continue Statement

A continue statement in a for loop allows us to skip the current iteration of the loop and move on to the next one. This can be useful when we want to skip certain elements in a list or perform a specific action only on certain elements.

In [52]:
store_items = ['apple', 'banana', 'orange', 'grape', 'watermelon']

for item in store_items:
    if item == 'orange':
        continue
    print(f"Item: {item}")

Item: apple
Item: banana
Item: grape
Item: watermelon

**Explanation**: We iterate through each item in the store_items list. If the item is 'orange', we skip it using the continue statement. Otherwise, we print out the item using f-string formatting.

#### <font color="green">Challenge</font>

Print out all the store items in the list except for 'banana' in the example.
Use a continue statement inside the for loop to skip the iteration when the item is 'banana'.

In [55]:
store_items = ['apple', 'banana', 'orange', 'grape', 'watermelon']

for item in store_items:
    # Write your code here
    if item == 'banana':
        continue
    print(f"Item: {item}")

Item: apple
Item: orange
Item: grape
Item: watermelon

## 6. Functions

### Example 1: Function Basics

Functions in Python are blocks of code that perform a specific task. They allow us to break down our program into smaller, reusable pieces of code. Functions are defined using the 'def' keyword followed by the function name and parentheses containing any parameters. They are important because they help us organize our code, make it more readable, and reduce redundancy.

In [56]:
# Define a simple function named 'greet' that prints a greeting message
def greet():
    print("Hello, welcome to our store!")

# Call the 'greet' function to display the greeting message
greet()

Hello, welcome to our store!

**Explanation**: We define a simple function named 'greet' that prints a greeting message. We then call the 'greet' function to display the greeting message "Hello, welcome to our store!".

#### <font color="green">Challenge</font>

Create a function named 'display_store_hours' that prints out the store's operating hours. Use the 'def' keyword to define the function 'display_store_hours' and write a print statement inside the function that displays the store's operating hours. Call the function to see the output.

In [58]:
# Define a function named 'display_store_hours' that prints out the store's operating hours
# Write your code here
def display_store_hours():
    print("Store Hours: Monday - Friday, 9 AM - 5 PM")

# Call the 'display_store_hours' function to print the store's operating hours
# Write your code here
display_store_hours()

Store Hours: Monday - Friday, 9 AM - 5 PM

### Example 2: Function Parameters

Function parameters in Python allow us to pass data into a function to be used during its execution. Parameters are placeholders for the actual values that will be passed into the function when it is called. They allow us to make our functions more flexible and reusable by accepting different inputs.

In [59]:
def calculate_total_price(item_price, quantity):
    total_price = item_price * quantity
    return total_price

# Example usage of the function
item_price = 10
quantity = 5
total = calculate_total_price(item_price, quantity)
print("Total price:", total)

Total price: 50

**Explanation**: We define a function called calculate_total_price that takes two parameters, item_price and quantity. Inside the function, we calculate the total price by multiplying the item price with the quantity and return the result. We assign the value 10 to the variable item_price and the value 5 to the variable quantity. We then call the calculate_total_price function with these values as arguments and store the returned total price in a variable called total. We print out the total price with a formatted string that includes the total variable.

#### <font color="green">Challenge</font>

Create a function named 'calculate_discounted_price' that takes in two parameters: 'original_price' and 'discount_percentage'. The function should calculate the discounted price by applying the discount_percentage to the original_price and return the discounted price. To calculate the discounted price, you can use the formula:
```
discounted_price = original_price - (original_price * discount_percentage/100)
```
Make sure to return the calculated discounted price.

In [61]:
# Write your code here
def calculate_discounted_price(original_price, discount_percentage):
    discounted_price = original_price - (original_price * discount_percentage / 100)
    return discounted_price

# Example usage of the function
# Write your code here
original_price = 200
discount_percentage = 15
final_price = calculate_discounted_price(original_price, discount_percentage)
print(f"Original Price: ${original_price}")
print(f"Discount Percentage: {discount_percentage}%")
print(f"Discounted Price: ${final_price}")

Original Price: $200
Discount Percentage: 15%
Discounted Price: $170.0

### Example 3: Return Statements (Optional)

Return statements in Python functions allow us to specify the value that the function should output. When we want a function to compute a value and give it back to the code that called the function, we use a return statement. For example, if we have a function that calculates the square of a number, we can use a return statement to pass the squared value back to the main program.

In [62]:
def calculate_square(num):
    square = num * num
    return square

result = calculate_square(5)
print(result)

25

**Explanation**: We define a function called calculate_total_cost that takes a list of item prices as input. Inside the function, we calculate the total cost by summing up all the item prices in the list. We then return this total cost value. We create a list called item_prices with values [10, 20, 30, 40, 50]. We call the calculate_total_cost function with item_prices as the argument and store the returned total cost value in a variable called total_cost. We print out the total cost of items in the store by concatenating the string "Total cost of items in the store: $" with the total_cost variable.

#### <font color="green">Challenge</font>

Create a function called 'calculate_discount' that takes in the original price of an item and a discount percentage. The function should calculate the discounted price and return it. Remember to use the formula:

```
discounted_price = original_price - (original_price * discount_percentage / 100)```

In [64]:
# Write your code here
def calculate_discount(original_price, discount_percentage):
    discounted_price = original_price - (original_price * discount_percentage / 100)
    return discounted_price

# Example usage
# Write your code here
item_price = 100
discount = 20
final_cost = calculate_discount(item_price, discount)
print(f"Original Price: ${item_price}")
print(f"Discount: {discount}%")
print(f"Final Price: ${final_cost}")

Original Price: $100
Discount: 20%
Final Price: $80.0

## 7. Working with Libraries

### Example 1: Importing and Using Libraries

Importing libraries in Python allows us to access pre-written code that provides additional functionality to our programs. This is important because it saves us time and effort by not having to write code from scratch for common tasks. We can import libraries by using the 'import' keyword followed by the name of the library. We can then use functions and classes from the library in our code.

In [ ]:
# Import the math library
import math

# Calculate the square root of 16 using the sqrt function from the math library
result = math.sqrt(16)

# Print the result
print(result)

4.0

**Explanation**: We import the math library to access mathematical functions. We calculate the square root of 16 using the sqrt function from the math library and store the result in a variable called result. We then print out the result, which is 4.0.

#### <font color="green">Challenge</font>

Calculate the factorial of 5 using a library function.
You can use the math library in Python to calculate the factorial of a number. The function `factorial()` should help you complete this task.

In [20]:
# Importing the math library to use the factorial function
import math

# Calculating the factorial of 5 using the factorial function from the math library
factorial_result = math.factorial(5)

# Printing the result
print(factorial_result)

120